@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
body{
    background:#000;
    }
#wrap{
    padding:0;
    }
#motdwrap{
    padding:0;
    margin-bottom:0;
    }
footer{
    display:none;
    }
#messagebuffer, #userlist{
    overflow-y:auto;
        border: 0px solid hsl(0, 0%, 18%);
            background: hsla(0, 0%, 0%, 0.60);
    }
.alert-info{
background-color:transparent;
}
#chatheader, #videowrap-header{
border:0;
}
::-webkit-scrollbar{
 width: 10px;
 }
 @media (min-width: 992px){
 #userlist{
 height:auto!important;
 float:none;
 }
#main{
    position:relative;
    }
 #userlist:hover{
    position:absolute;
    display:block;
    height:570px;
    }
    #chanjs-allow-prompt{
     z-index:2;
     }
     .navbar-brand:after{
     content:"fullmoviesonyoutube";
     }
    #videowrap, #controlsrow,#playlistrow,#resizewrap{
    z-index:1;
    margin-left:25%;
    }

    .username{
    margin-left:-31px;
    }
    #chatwrap{
        position:fixed;
        margin-left:0;
        padding-left:0;
        top:70px;
        bottom:0;
        }
 [class*="chat-msg"]:not(.drink):not(.consecutive) {
     margin-top: 2px;
         margin-left: 48px;
             margin-right: 20px;
                 margin-bottom: 4px;
                 }
                 @media (min-width: 992px)
                 {
                 #chatwrap {
                     width: 22.9% !important;
                     height:100%;
                     }
                 #videowrap{
                    width:70% !important;
                     }
                     .timestamp{display:none;}
                 [class*="chat-msg"]:hover .timestamp{
                    position:absolute;
                    display:inline-block;
                    right:0;
            background: hsla(0, 0%, 30%, 0.40);
            padding:3px;
            border-radius:1px;

                 }
            [class*="chat-msg"] .username{

            margin-left:-31px;
   }         }
#wrap:before {
  content: "";
    position: fixed;
      left: 0;
        right: 0;
          z-index: -1;
            
              display: block;
                background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
                  width: 100%;
                    height: 800px;
                      
                        -webkit-filter: blur(5px);
                          -moz-filter: blur(5px);
                            -o-filter: blur(5px);
                              -ms-filter: blur(5px);
                                filter: blur(5px);
                                }
 ::-webkit-scrollbar-thumb {
     -webkit-border-radius: 30px;
         -moz-border-radius: 30px;
             border-radius: 30px;
                 -webkit-box-shadow: inset 0 0 6px #313131;
                     background-color: #313131;
  
  }
.motd-header{
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
    font-size:32px;
    }
#togglemotd{
    display:none;
    }
.btn-red{
    background-color:#400000;
    }
.red{
    color:#F00;
    }
.well{
    background:transparent;
    border:0;
    }
    .navbar-nav>li>a {
        border-right: 0px solid rgba(0,0,0,.2);
            border-left: 0px solid rgba(255,255,255,.1);
                font-size: 10px;
                    letter-spacing: 0.01em;
                    font-family: 'Roboto', sans-serif;
                        }
                        .navbar-nav {
                            float: right;
                                margin: 0;
                                    font-size: 1rem;
                                    }
                                    .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
                                        color: #ccc;
                                            text-transform: uppercase;
                                            }
                                            .navbar, .navbar-inverse, .navbar-fixed-top {
                                            background-image:none !important;
                                                background: hsl(0,0%,13%);
                                                    color: hsl(0,0%,53%);
                                                        border: none;
                                                            max-height: 50px;
                                                                }
